{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>
    {% if user.is_superuser %}
    Hello Admin
    {% elif user.is_staff %}
    Hello Staff
    {% elif not user %}
    Hello Anonymous
    {% else %}
    Hello Customer {{user}}
    {% endif %}
</h1>
</div>

</div>
<hr/>
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
</div>
</div>

{% endblock %}
